/* CSS RESET */
*{
	margin: 0px;
	padding: 0px; 
}
/* CSS RESET */

header{
	text-align: center;
	margin-bottom: 10px;
}

#welcomegif{
	width: 30%;
	/* height: 50%; */ 
}

p{
	color: lawngreen;
}

.para {
	text-align: center;
}

body{
	background-color: #001f36;
}

a:link{
	color: lightseagreen;
}

a:visited{
	color: black;
}

/* nav{  */ /* AJOUTER AU HEADER /*
/* 	margin-bottom: 10px; */
/* } */

nav > a{
	display: inline-block;
	color: white;
	background-color: darkseagreen;
	border: 2px solid white;
	width: 100px;
}

nav > a:hover{
	color: #001f36;
	background-color: lawngreen;
	border: 2px solid white;
}

table{
	background-color: dimgray;
	border: 2px solid black;
}

form{
	box-align: center;
}

footer{
	margin-top: 10px;
	display: block;
	text-align: center;
}
